*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  background-color: gray;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans Mono", sans-serif;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 800px;
  height: 500px;
  background-color: #f0f0f0;
}