* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: gray;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

table, tr, th, td {
    border: 2px orange solid;
    padding: 8px;
    background-color: deeppink;
    color: white;
}

button {
    width: 90px;
    margin: 20px 30px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: yellow;
}