* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: gray;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.main-container {
    background-color: deeppink;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 70px;
    width: 300px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-radius: 50px
}

select {
    width: 100px;
    background-color: orange;
    border: none;
    border-radius: 25px;
    padding: 10px;
}

select:focus {
    background-color: purple;
    color: white;
}

button {
    background-color: orange;
    border: none;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: yellow;
}