
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-content: center;
    height: 100vh;
    justify-items: center;
    background-color: #cccccc;
}

.main-div {
    height: 600px;
    border-radius: 25px;
    /*width: 1200px;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left-div {
    background-color: whitesmoke;
    height: 100%;
    border-radius: 25px 0 0 25px;
    padding: 25px;
}

.left-div header {
    border-radius: 25px 0 0 0;
    height: 75px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-content: space-between;
}

.left-div header p {
    display: inherit;
    align-content: center;
    color: gray;
}

.left-div main {
    height: 400px;
    display: grid;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0fr;
    align-items: center;
    border-bottom: rgb(235, 235, 235) 2px solid;
    border-top: rgb(235, 235, 235) 2px solid;
    padding: 20px 0;
}

main div img {
    width: 100px;
}

main button {
    background-color: whitesmoke;
    border: none;
}

main button:hover {
    cursor: pointer;
}

.row p, button {
    color: gray;
}

footer button {
    margin-top: 50px;
    background-color: whitesmoke;
    border: none;
}

footer button:hover {
    cursor: pointer;
}

.right-div {
    background-color: rgb(221, 211, 221);
    height: 100%;
    border-radius: 0 25px 25px 0;
    padding: 25px;
}

.right-div header {
    height: 75px;
    padding-top: 25px;
}

.right-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: rgb(235, 235, 235) solid 1px;
    border-bottom: rgb(235, 235, 235) solid 1px;
    padding-bottom: 40px;
}

.right-row p {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}

.right-row * {
    margin-top: 30px;
}

.right-row select {
    height: 30px;
}

.right-div footer div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-top: 25px;
}

.right-div footer button {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
}
