html, body {
    background-color: lightpink;
    font-family: Vazir, serif;
    direction: rtl;
}

@font-face {
    src: url("./assets/Font/Vazir.ttf");
    font-family: "Vazir";
}

@tailwind base;
@tailwind components;
@tailwind utilities;