@font-face {
    src: url("Vazir.ttf");
    font-face-name: "vazir";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    height: 100%;
    width: 100%;
    font-family: vazir, serif;
}

main {
    width: 1300px;
    height: 500px;
    background-color: rgb(195, 197, 196);
}

.main-div {
    display: flex;
    justify-content: space-between;
}

.card {
    direction: rtl;
    width: 200px;
    height: 350px;
    padding: 20px;
    background-color: white;
}

.description {
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
}

.score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.score i, span {
    color: gray;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.price i {
    font-size: 30px;
    color: orange;
}

.price p {
    font-size: 20px;
}