:root {
    --color: rgb(251, 254, 248);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    background-color: gainsboro;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    height: 100%;
}