@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: darkorange;
    direction: rtl;
    font-family: Vazir, serif;
}

@font-face {
    font-family: 'Vazir';
    src: url('./assets/font/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}