*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    background-color: gainsboro;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.btn {
    display: block;
    background-color: #f8041c;
    width: 15rem;
    border: solid red 1px;
    padding: 1rem;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: #ff0073;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-message {
    background-color: green;
    color: white;
    cursor: default;
}

.toast-btn {
    width: max-content;
    height: max-content;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.toast-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    width: 28rem;
    height: 5rem;
    background-color: green;
    position: absolute;
    left: 10%;
    transition: all .4s ease;
    top: -10%;
}

.toast-transition {
    transition: all 3s ease-in-out;
    height: .3rem;
    width: 100%;
    background-color: green;
}

.progress-bar{
    height: 100%;
    width: 0;
    background-color: #18ff4a;
    transition: width 3.2s ease-in-out;
}