.gainsboro-color {
    color: gainsboro;
}

.d-grid {
    display: grid;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.m-t-1 {
    margin-top: 1rem;
}

.text-align-center {
    text-align: center;
}

.width-50 {
    width: 50rem;
}

.d-flex {
    display: flex;
}

.justify-item-center {
    justify-items: center;
}

.m-t-3 {
    margin-top: 3rem;
}

.width-80 {
    width: 80rem;
}

.background-blue {
    background-color: #003cff;
}

.background-black {
    background-color: black;
}

.p-3 {
    padding: 3rem;
}

.p-2 {
    padding: 2rem;
}